* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
/*--------------------*/
html,
body {
  /* height: 100%; Очень важный параметр для фуллскрина */
}
.wrapper {
  min-height: 100%;
}
.header {
  max-width: 1600px;
  max-height: 670px;
  /* margin-bottom: 60px; */
}
/* .image-slider__image::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #3d3063;
  opacity: 0.85;
} */
.image-slider__image {
  width: 1600px;
  display: flex;
  justify-content: center;
  max-height: 670px;
}
.image-slider__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title {
  color: #000;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
}

.swiper-slide {
  display: flex;
  overflow: hidden;
  min-width: 0;
  justify-content: center;
}
.swiper-pagination {
  background-color: #000;
  width: 20px;
  height: 20px;
}
.image-slider__image {
  text-align: center;
}

/* Стрелки,меняем стандартные параметры */
.image-slider .swiper-button-prev::after,
.image-slider .swiper-button-next::after {
  color: #3d3063;
  font-size: 70px;
  opacity: 0.85;
}
